# Configurações Firebird
FIREBIRD_HOST=db.primesoftware.com.br
FIREBIRD_DB=oficialmed1250
FIREBIRD_USER=OFICIALMED
FIREBIRD_PASS=Lt-@=waIh))Ql3~

# Configurações Supabase
SUPABASE_URL=https://agdffspstbxeqhqtltvb.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFnZGZmc3BzdGJ4ZXFocXRsdHZiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDQ1MzY2NiwiZXhwIjoyMDY2MDI5NjY2fQ.grInwGHFAH2WYvYerwfHkUsM08wXCJASg4CPMD2cTaA

# API Token (para segurança do endpoint)
API_TOKEN=prime-sync-2025

# Porta da aplicação
PORT=5000
